# Contract Configuration
NEXT_PUBLIC_CONTRACT_ADDRESS=0xBCadAB9A51037ffbb1Fd29f718585006Bf053498
NEXT_PUBLIC_CHAIN_ID=9000
NEXT_PUBLIC_RPC_URL=http://127.0.0.1:8545
NEXT_PUBLIC_COSMOS_REST_URL=http://127.0.0.1:1317
NEXT_PUBLIC_JOB_PAYMENT_ADDRESS=0x........

# API Configuration
NEXT_PUBLIC_API_BASE_URL=http://localhost:3001/api

# App Configuration
NEXT_PUBLIC_APP_NAME=DATACOIN dApp
NEXT_PUBLIC_TOKEN_NAME=DATACOIN ERC20
NEXT_PUBLIC_TOKEN_SYMBOL=DTCERC
NEXT_PUBLIC_NATIVE_TOKEN_NAME=DATACOIN
NEXT_PUBLIC_NATIVE_TOKEN_SYMBOL=DTC
